.omlet {
    background-image: url("./img/omlet.jpeg");
}

.friedEgg {
    background-image: url("./img/friedEgg.jpeg");
}

.sausages {
    background-image: url("./img/sausages.jpeg");
}
.breakfast_wall{
    background-image: url("./img/omletWall.jpeg");
}