.breakfast_wall {
    background-image: url("../../img/photos/omletWall.jpeg");
}

.omlet {
    background-image: url("../../img/photos/omlet.jpg");
}

.friedEgg {
    background-image: url("../../img/photos/friedEgg.jpg");
}

.sausages {
    background-image: url("../../img/photos/sausages.jpg");
}