.burger_wall{
    background-image: url("./img/burgerWall.jpeg");
    }
.specialBurger {
    background-image: url("./img/special_burger.jpg");
}

.schnitzelBurger {
    background-image: url("./img/schnitzel_burger.jpg");
}