.pizza_wall{
    background-image: url("../../../img/photos/pizzaWall.jpg");
}

.atrinaPizza {
    background-image: url("../../../img/photos/atrina.jpg");
}

.bolognesePizza {
    background-image: url("../../../img/photos/bolognese_pizza.jpg");
}

.steakPizza {
    background-image: url("../../../img/photos/steakpizza.jpg");
}

.chickenPizza {
    background-image: url("../../../img/photos/chicken_pizza.jpg");
}

.peperoni {
    background-image: url("../../../img/photos/peperoni.jpg");
}