.salad_wall {
    background-image: url("../../img/photos/salad3.jpg");
}

.italianSalad {
    background-image: url("../../img/photos/italian_salad.jpg");
}

.beafSalad {
    background-image: url("../../img/photos/italian_salad_beaf.jpg");
}

.chickenSalad {
    background-image: url("../../img/photos/italian_salad_chicken.jpg");
}

.schnitzelSezar {
    background-image: url("../../img/photos/sezar_schnitzel.jpg");
}

.grilledChickenSezar {
    background-image: url("../../img/photos/sezar_grilled.jpg");
}