.pasta_wall{
    background-image: url("./img/pastaWall.jpeg");
}

.beafAlfredo {
    background-image: url("./img/beaf_alfredo_pasta.jpg");
}

.chickenAlfredo {
    background-image: url("./img/chicken_alfredo_pasta.jpg");
}