.pasta_wall {
    background-image: url("../../../img/photos/pastaWall.jpg");
    /* background-size: contain; */
}

.beafAlfredo {
    background-image: url("../../../img/photos/beaf_alfredo_pasta.jpg");
}

.chickenAlfredo {
    background-image: url("../../../img/photos/chicken_alfredo_pasta.jpg");
}