.appetizer_wall {
    background-image: url("../../img/photos/friesWall.jpeg");
}

.babyPotato {
    background-image: url("../../img/photos/babyPotato.jpg");
}

.frenchFries {
    background-image: url("../../img/photos/frenchFries.jpg");
}

.wings {
    background-image: url("../../img/photos/wings.jpg");
}

.mushrooms {
    background-image: url("../../img/photos/mushrooms.jpg");
}

.garlicBread {
    background-image: url("../../img/photos/garlicBread.jpg");
}