.babyPotato {
    background-image: url("./img/babyPotato.jpg");
}

.frenchFries {
    background-image: url("./img/frenchFries.jpg");
}

.wings {
    background-image: url("./img/wings.jpg");
}

.mushrooms {
    background-image: url("./img/mushrooms.jpg");
}

.garlicBread {
    background-image: url("./img/garlicBread.jpg");
}

.appetizer_wall {
    background-image: url("./img/friesWall.jpeg");
}
