.sandwich_wall {
    background-image: url("../../../img/photos/sandwichWall.jpg");
}

.roastBeafSandwich {
    background-image: url("../../../img/photos/roastBeaf.jpg");
}

.steakSandwich {
    background-image: url("../../../img/photos/steak.jpg");
}

.springChicken {
    background-image: url("../../../img/photos/springchicken.jpg");
}