.sandwich_wall {
    background-image: url("./img/sandwichWall.jpeg");
}

.roastBeafSandwich {
    background-image: url("./img/roastBeaf.jpg");
}

.steakSandwich {
    background-image: url("./img/steak.jpg");
}

.springChicken {
    background-image: url("./img/springchicken.jpg");
}