.appleCake {
    background-image: url("./img/sib-darchin.jpg");
}

.cheeseCake {
    background-image: url("./img/cheese_Cake.jpg");
}
.desserts_wall{
background-image: url("./img/cakeWall.jpeg");
}