.desserts_wall {
    background-image: url("../../img/photos/cakeWall.jpg");
}

.appleCake {
    background-image: url("../../img/photos/sib-darchin.jpg");
}

.cheeseCake {
    background-image: url("../../img/photos/cheese_Cake.jpg");
}