.big_img1 {
    background: url("../../img/photos/img1.jpeg") no-repeat center;
}

.big_img2 {
    background: url("../../img/photos/img2.jpg") no-repeat center;
}

.big_img3 {
    background: url("../../img/photos/img3.jpg") no-repeat center;
}

.big_img4 {
    background: url("../../img/photos/img4.jpeg") no-repeat center;
}

.big_img_div {
    border-radius: 10px;
    margin: auto;
    margin-block: 20px;
    justify-content: center;
    background-size: cover;
}

.small_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_img {
    border: 3px solid transparent;
    border-radius: 10px;
}

.small_img:hover {
    border-color: darkred;
}

@media screen and (max-width:200px) {
    .small_img_div {
        flex-direction: column;
        gap: 0;
    }

    .small_img {
        width: 150px;
        height: 150px;
    }

    .big_img_div {
        display: none;
    }
}

@media screen and (min-width:201px) {
    .small_img_div {
        flex-direction: column;
        gap: 0;
    }

    .small_img {
        width: 150px;
        height: 150px;
    }

    .big_img_div {
        display: none;
    }
}

@media screen and (min-width:468px) {
    .small_img_div {
        width: 80vw;
        margin-right: 10vw;
        gap: 5px;
    }

    .small_img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width:768px) {
    .small_img_div {
        width: 80vw;
        gap: 10px;
        margin-left: 500px;
    }
    .small_img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width:992px) {
    .small_img_div {
        flex-direction: row;
        gap: 18px;
    }

    .small_img {
        width: 200px;
        height: 200px;
    }

    .big_img_div {
        display: flex;
        width: 450px;
        height: 450px;
    }
}