.restaurant_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    height: fit-content;
    font-family: "fantasy";
    text-shadow: 0 1px 1px var(--main-bgcolor);
}

.restaurant_footer a {
    width: 20px;
    height: 20px;
}

@media screen and (max-width:200px) {
    .restaurant_footer {
        font-size: 0.42rem;
        bottom: -100vh;
        gap: 0;
    }
}

@media screen and (min-width:201px) {
    .restaurant_footer {
        font-size: 0.48rem;
        gap: 0;
    }
}

@media screen and (min-width:320px) {
    .restaurant_footer {
        font-size: 0.6rem;
        gap: 10px;
    }
}

@media screen and (min-width:468px) {
    .restaurant_footer {
        font-size: 0.7rem;
        gap: 50px;
    }
}

@media screen and (min-width:768px) {
    .restaurant_footer {
        font-size: 0.9rem;
    }
}