.hot_wall {
    background-image: url("../../img/photos/hotWall.jpeg");
    background-size: contain;
}

.cold_wall {
    background-image: url("../../img/photos/coldWall.jpg");
    background-size: contain;
}

.drink_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juice {
    background-image: url("../../img/photos/juice.jpg");
}

.lemonade {
    background-image: url("../../img/photos/lemonade.jpg");
}

.peanutShake {
    background-image: url("../../img/photos/peanut_shake.jpg");
}

.nutellaShake {
    background-image: url("../../img/photos/nutella_shake.jpg");
}

.icedAmericano {
    background-image: url("../../img/photos/ice-americano.jpg");
}

.icedLate {
    background-image: url("../../img/photos/ice_late.jpg");
}

.masala {
    background-image: url("../../img/photos/masala_tea.jpg");
}

.hotChocolate {
    background-image: url("../../img/photos/hot_chocolate.jpg");
}

.whiteChocolate {
    background-image: url("../../img/photos/white_chocolate.jpg");
}

.tea {
    background-image: url("../../img/photos/tea.jpg");
}